/*Set background image and fonts*/
body{
    background-image: url("dynamic-style.png") ;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/*Remove margins from navbar*/
.navbar {
    margin:0 !important;
    padding:0 !important
}

/*Create container to hold Name*/
.header-container {
    position: sticky;
    width: 250px;
    height: 70px ;
    text-align: center;
    font-size: xx-large; 
    left: 40px;  
    padding: 10px; 
}

/*add padding to main content to stop footer issues*/
main {
    padding-bottom: 100px;
}


/*bring main content in line with header name (take into account column padding 15px)*/
main .container {
    margin: 25px;
}

/*float image to left*/
.index-image {
    float: left;
    margin: 10px;
    max-width: auto;
}

/*Move navigation links to the left for better formatting*/
nav ul {
    position: relative;
    right: 40px;
}

/*Add vertical divider lines between navigation links*/
.divider-vertical {
    height: 40px;
    margin: 0 9px;
    border-right: 1px solid #e6e3e352;
    border-left: 1px solid #e6e3e352;
}

/*Create box around "about me"*/
#main-container {
    background-color: white;
    border: #e6e3e352 2px;
    border-style: solid;
    padding: 10px;
}

/*Create footer*/
.footer {
    height: 50px;
    text-align: center;
    color: #ffffff70;
    font-size: small;  
    position: fixed;
    bottom: 0;
    width: 100%;   
}

/*Add top border to footer*/
.footer-border {
    height: 5px;
    width: 100%;
}

.row {
    margin-top: 30px;
}

.col-md-9.col-sm-12 {
    padding: 0px;
    margin: 15px;    
}

h4.link-text {    
    position: relative;  
    width: auto;  
    bottom: 5px;    
    padding: 5px;     
    text-align: center; 
    color: white; 
    background-color: #17a2b8;     
}

/*create box around all main content*/
#content-container {
    border-style: solid;
    border-color: #e6e3e352;
    background-color: white;
    padding: 0px 20px 20px 20px;
}

/*create padding around index page image to space out text*/
.index-img {
    margin: 10px;
}

.portfolio-img {
    width:100%;
    max-width: 300px;

}

.portfolio-link {
    width: 100%; 
    max-width: 300px;
}



/*Changes to formatting when screen size changes*/
@media screen and (max-width: 768px) {
    
    /*Centre the content container on the screen*/
    div.container {
        margin: auto !important;
    }

    /*bring main content in line with header name (take into account column padding 15px)*/
    main .container {
        margin: 0px;
        padding: 10px;
    }

    /*Change image to centred take up full box width*/
     #index-image {
        margin: 10px;
        float: left;
        object-fit: contain;
    }  

    .header-container {
        position: sticky;
        width: 250px;
        height: 70px ;
        text-align: center;
        font-size: large; 
        left: 35px;  
        padding: 10px; 
    }
    
    nav ul {
        position: relative;
        right: 10px;
    }
}

/*Changes to formatting when screen size changes*/
@media screen and (max-width: 640px) {
    
    /*Centre the content container on the screen*/
    div.container {
        margin: auto !important;
    }

    /*Change header container to take up full screen*/
    .header-container {
        position: sticky;
        width: 100% ;
        height: fit-content ;
        text-align: center;
        font-size: large; 
        padding: 10px; 
    }

    /*Remove left formatting from navigation links to centre*/
    nav ul {
        position: relative;
        right: 0;
    }

    /*Change image to centred take up full box width*/
    #index-image {
        margin: 10px;
        width: 100%;
    }

    #rockpaperscissors {
        display: none;
        
    }

    #info-widget {
        display: none;
        
    }

}
