/*Set background image and fonts*/
body{
    background-image: url("dynamic-style.png") ;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/*Remove margins from navbar*/
.navbar {
    margin:0 !important;
    padding:0 !important
}

/*Create Navigation header container in line with theme*/
.header-container {
    position: sticky;
    width: 250px;
    height: 70px ;
    text-align: center;
    font-size: xx-large; 
    left: 40px;  
    padding: 10px; 
}

/*move navigation links over for aesthetic reasons*/
nav ul {
    position: relative;
    right: 40px;
}

/*Add vertical divider lines between navigation links*/
.divider-vertical {
    height: 40px;
    margin: 0 9px;
    border-right: 1px solid #e6e3e352;
    border-left: 1px solid #e6e3e352;
}

/*add padding to main content to stop footer issues*/
main {
    padding-bottom: 100px;
}

/*bring main content in line with header name*/
main .container {
    margin: 25px;
}

/*create box around all main content and line up wth navbar text*/
#content-container {
    border-style: solid;
    border-color: rgb(206, 204, 204);
    background-color: white;
    padding: 0px 20px 20px 20px;
    margin: 15px
}

/*create padding around index page image to space out text*/
#index-image {
    margin: 10px;
}

/*Use margins to create better spacing*/
.row {
    margin-top: 30px;
}

/*Portfolio link container*/
.portfolio-link {
    width: 100%; 
    max-width: 500px;
}

/*image on portfolio link take up full container*/
.portfolio-img {
    width:100%;
    max-width: 500px;
}

/*add text to portfolio links and have it respond to container size*/
h4.link-text {    
    position: relative;  
    width: auto;  
    bottom: 5px;    
    padding: 5px;     
    text-align: center; 
    color: white; 
    background-color: #17a2b8;
    bottom: 50px;     
}

/*Create footer*/
.footer {
    height: 50px;
    text-align: center;
    color: #ffffff70;
    font-size: small;  
    position: fixed;
    bottom: 0;
    width: 100%;   
}

/*Add top border to footer*/
.footer-border {
    height: 5px;
    width: 100%;
}

/*Changes to formatting when screen size changes*/
@media screen and (max-width: 768px) {
    
    /*Centre the content container on the screen*/
    div.container {
        margin: auto !important;
    }

    /*bring main content in line with header name (take into account column padding 15px)*/
    main .container {
        margin: 0px;
        padding: 10px;
    }

    /*Change image to centred take up full box width*/
     #index-image {
        margin: 10px;
        float: left;
    }  
       
}

/*Changes to formatting when screen size changes*/
@media screen and (max-width: 640px) {
    
    /*Centre the content container on the screen*/
    div.container {
        margin: auto !important;
    }

    /*Change header container to take up full screen*/
    .header-container {
        position: sticky;
        width: 100% ;
        height: fit-content ;
        text-align: center;
        font-size: large; 
        padding: 10px; 
    }

    /*unset the "right" setting used for row*/
    nav ul {
        position: relative;
        right: unset;
}

    /*Keep navbar links centred when turning to column*/
    .navbar-nav {
        margin: auto;
    }

    /*Change image to centred take up full box width*/
    #index-image {
        margin: 0px 0px 10px 0px;
        width: 100%;
    }

    /*Remove link*/
    #rockpaperscissors {
        display: none;        
    }

    /*Remove link*/
    #info-widget {
        display: none;        
    }

    /*Unset row margin to create equal spacing*/
    .row {
        margin-top: unset;
    }
    .portfolio-link {
        margin: auto;
    }

}
